   
@font-face {
    font-family: New;
    src: url("../Fonts/Cairo/Cairo-VariableFont_wght.ttf");
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    margin-top: 5%;
}  

 .key-highlights{
    
     padding: 0;
 }
